---
import ModuleCard from '@src/components/ui/ModuleCard.astro';
import { modules, type ModuleKey } from '@src/config';
import Layout from '@src/layouts/Layout.astro';
---

<Layout title="嘿壳 | HeyFe - 个人网站">
    <div class="flex h-screen w-screen flex-col overflow-hidden md:flex-row portrait:flex-row portrait:flex-col" id="layout-container">
        {
            modules.map((module) => (
                <ModuleCard
                    emoji={module.emoji}
                    character={module.character}
                    title={module.title}
                    description={module.desc}
                    href={`/${module.key}`}
                    theme={module.key as ModuleKey}
                >
                    <module.icon />
                </ModuleCard>
            ))
        }
    </div>
</Layout>
