---
import type { CollectionEntry } from 'astro:content';

import BlogTime from './BlogTime.astro';
import Tags from './Tags.astro';

interface Props {
    posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<div class="posts-list">
    {
        posts.map((post) => (
            <div class={'page-block'}>
                <div class="left">
                    <a href={`/blog/${post.id}`} class="cover">
                        <img src={post.data.heroImage} alt="cover" />
                    </a>
                </div>
                <div class="right">
                    <a href={`/blog/${post.id}`} class="title">
                        <h2>{post.data.title}</h2>
                    </a>
                    <p class="summary">{post.data.description}</p>
                    <div class="placeholder" />
                    <div class="post-meta">
                        {post.data.tags && <Tags tags={post.data.tags} />}
                        <BlogTime date={post.data.pubDate} lastUpdated={post.data.updatedDate} />
                    </div>
                </div>
            </div>
        ))
    }
</div>

<style>
    @keyframes bounceInUp {
        0%,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        0% {
            opacity: 0;
            transform: translate3d(0, 3000px, 0) scaleY(5);
        }

        60% {
            opacity: 1;
            transform: translate3d(0, -20px, 0) scaleY(0.9);
        }

        75% {
            transform: translate3d(0, 10px, 0) scaleY(0.95);
        }

        90% {
            transform: translate3d(0, -5px, 0) scaleY(0.985);
        }

        to {
            transform: translateZ(0) scale(1);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(15px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .posts-list {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
    }

    .page-block {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        color: var(--color-text);
        box-sizing: border-box;
        padding: 2rem 1rem 1rem;
        transform: translate(300%);
        animation: bounceInUp 0.5s both;
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20rem;
        transition: transform 0.3s ease-in-out;
    }
    .page-block:hover .left {
        transform: scale(1.05);
    }

    .cover {
        width: 20rem;
        height: 12rem;
        display: flex;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .right {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-size: 1.2rem;
        color: var(--color-text);
    }
    .title:hover {
        color: var(--color-primary);
    }
    .title h2 {
        transition: color 0.2s ease-in-out;
        margin: 0;
        line-height: 1.5;
        font-size: inherit;
    }
    .summary {
        margin: 0.5rem 0;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .placeholder {
        flex: 1;
    }
    .tags {
        margin-bottom: 0.5rem;
    }

    .main-title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }

    @media (max-width: 1000px) {
        .page-block {
            flex-direction: column;
            gap: 0;
            .left {
                width: 100%;
            }
            .left .cover {
                width: 100%;
                height: 70%;
            }
            .right {
                margin-top: 1rem;
            }
        }
    }
</style>
